{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "prefer-const": "error",
    "no-var": "warn",
    "eqeqeq": [
      "warn",
      "always"
    ],
    "brace-style": [
      "warn",
      "1tbs"
    ],
    "no-else-return": "error",
    "prefer-arrow-callback": "warn",
    "@typescript-eslint/no-non-null-assertion": "off",
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-mixed-spaces-and-tabs": "off"
  },
  "overrides": [{
    "files": ["**/*.ts", "**/*.tsx"]
  }
  ]

}